table,
th,
td {
  border: 1px solid black;
  background-color: white;
}

.border {
  border: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

td {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  width: 60px;
  height: 60px;
}

input {
  width: 150px;
}

.login-window {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  border: 1px solid black;
}
